.root {
    -fx-font-family: "Roboto-Regular";
}

.nextTaskButton {
    -fx-background-color: #4CAF50;
}

.instructionsContainer {
    -fx-font-size: 16px;
    -fx-text-fill: #808080;
}

.instructionsContainer .title {
    -fx-font-size: 24px;
}

.tree-table-cell {
    -fx-border-width: 1px;
    -fx-border-color: #f3f3f3;
}